{% extends '../base_temp.html' %}
{% load static %}
{% block content %}
    <h2>Vote Page</h2>
    <h3>{{question.title}}</h3>
    <form action="/poll/{{question.id}}/" method="POST">
      {% csrf_token %}
    {% for choice in question.choices %}
    <label>{{choice.text}}</label>
    <input type="radio" name="answer" value="{{choice.id}}">
    {% empty %}
          <p> There is no Records </p>
    {% endfor %}
    </form>
    <p>Poll is created by {{question.created_by.first_name}}</p>
{% endblock %}
